<div class="header-mobile">
  <div class="absolute-left">
      <a href="index.html">
          <i class="fa fa-angle-left"></i>
      </a>
  </div>
  <div class="md:text-2xl text-1xl uppercase">Pusat Edukasi</div>
</div>
<div class="header-desktop">
  <img class="logo mt-4" src="../assets/images/FD Studio.svg">
  <div class="flex__center grid-cols-2 gap-4 place-content-start">
      <div class="mt-6 ml-2">
          <a class="font-semi-bold capitalize text-2xl md:ml-4" href="#">seller center</a>
      </div>
      <div class="mt-6 h-8 border-0 border-l-2 border-black">
          <a class="font-semi-bold capitalize text-2xl md:ml-4" href="#">pusat edukasi</a>
      </div>
  </div>
</div>
