<div class="w-full h-max bg-center bg-cover bg-pink-100 hero--desktop">
  <div class="flex items-center justify-center w-full h-80 py-12 flex__hero-column">
      <div class="flex-1 h-16 vector--hero-1">
          <img src="../assets/images/helpcenter/vector/frame-bottom-left.svg" alt="frame-bottom" class="origin-center rotate-4 -ml-36  w-36">
      </div>
      <div class="flex-grow-0 h-56 w-2/4 context--hero-1">
          <h1 class="text-4xl text-left font-bold leading-snug">Pelajari Cara Berjualan di Female Daily Studio</h1>
          <h5 class="text-2xl text-left mt-3">Dan Raih Keuntunganmu!</h5>
      </div>
      <div class="col-span-2 vector--hero-2">
          <img src="../assets/images/helpcenter/vector/knowledge.svg" alt="knowledge-vector" class="overflow-hidden mt-12">
      </div>
      <div class="flex-1 h-16 vector--hero-3">
          <img src="../assets/images/helpcenter/vector/frame-top-right.svg" alt="frame-top" class="object-none object-right-top -mt-32">
      </div>
  </div>
</div>

<div class="w-full bg-center bg-cover bg-pink-100 hero--mobile">
  <div class="flex items-center justify-center w-full h-80 py-12 flex__hero-mobile-column">
      <div class="flex-none vector--hero-mobile-1">
          <img src="../assets/images/helpcenter/vector/frame-bottom-left.svg" alt="frame-bottom">
      </div>
      <div class="shrink w-96 context--hero-mobile-1">
          <h4 class="text-left font-bold w-full">Pelajari Cara Berjualan di Female Daily Studio</h4>
          <h5 class="text-left font-semibold">Dan Raih Keuntunganmu!</h5>
      </div>
      <div class="shrink w-64 vector--hero-mobile-2">
          <img src="../assets/images/helpcenter/vector/knowledge.svg" alt="knowledge-vector"/>
      </div>
      <div class="shrink w-22 relative vector--hero-mobile-3">
          <img src="../assets/images/helpcenter/vector/frame-top-right.svg" alt="frame-top">
      </div>
  </div>
</div>
