<footer class="container__footer md:mt-12 footer__desktop">
  <div class="flex__footer-top w-full space-x-2">
    <ul>
      <li class="md:mr-4">
        <div class="flex flex-row space-x-2">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/best-price.svg">
          </div>
          <div>
            <span>Best Price</span>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-row space-x-2">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/100-authentic.svg">
          </div>
          <div class="w-36">
              <span>100% Authentic</span>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-row space-x-2">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/safety-trusted.svg">
          </div>
          <div class="w-36">
              <span>Safe & Trusted</span>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-row space-x-2">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/wide-assortment.svg">
          </div>
          <div class="w-48">
              <span>More Product Choices</span>
          </div>
        </div>
      </li>
      <li>
        <div class="flex flex-row space-x-2">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/exclusive-offers.svg">
          </div>
          <div class="w-48">
              <span>Exclusive Offers</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <hr class="w-90" />
  <div class="md:mt-12 mt-12 h-full">
    <div class="flex__footer md:mt-10 md:mb-10">
      <ul>
        <h3 class="font-semibold">Get to Know Us</h3>
        <li><a href="#">About FD Studio</a></li>
        <li><a href="#">Inspire Me</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <ul>
        <h3 class="font-semibold">Help</h3>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Return & Refund</a></li>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Payment Method</a></li>
      </ul>
      <ul>
        <h3 class="font-semibold">Buying Guide</h3>
        <li><a href="#">How to Shop</a></li>
        <li><a href="#">Safe Shopping Guarantee</a></li>
        <li><a href="#">Promotions</a></li>
        <li><a href="#">How to Pay</a></li>
      </ul>
      <ul>
        <h3 class="font-semibold">FD Studio Seller</h3>
        <li><a href="#">Sell on FD Studio</a></li>
        <li><a href="#">Seller Education Center</a></li>
        <li><a href="#">Register as Official Store</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <ul>
        <h3 class="font-semibold">Download Our App</h3>
        <div class="container-footer gap-4 -mt-5">
          <img src="../assets/images/about-fd/appstore.svg" />
          <img src="../assets/images/about-fd/playstore.svg" />
        </div>
        <h3 class="font-semibold">Follow Us</h3>
        <div class="flex mt-5">
          <img
            class="icon-social-media max-w-none ring-0 w-14"
            src="../assets/images/about-fd/instagram.svg"
          />
          <img
            class="icon-social-media max-w-none ring-0 w-14"
            src="../assets/images/about-fd/twitter.svg"
          />
          <img
            class="icon-social-media max-w-none ring-0 w-14"
            src="../assets/images/about-fd/fb.svg"
          />
          <img
            class="icon-social-media max-w-none ring-0 w-14"
            src="../assets/images/about-fd/youtube.svg"
          />
        </div>
      </ul>
    </div>
  </div>
  <div class="container__copyright">
    <span id="footer-copyright"></span>
  </div>
</footer>


<footer class="container__footer md:mt-12 footer__mobile">
  <div class="flex__footer-top w-full -space-x-2 place-content-center py-2 overflow-x-hidden">
    <div class="grid grid-cols-12 gap-x-2">
      <div class="col-span-4">
        <div class="flex place-content-center justify-center">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/best-price.svg">
          </div>
          <div>
            <span>Best Price</span>
          </div>
        </div>
      </div>
      <div class="col-span-4">
        <div class="flex place-content-center">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/100-authentic.svg">
          </div>
          <div class="w-36">
              <span>100% Authentic</span>
          </div>
        </div>
      </div>
      <div class="col-span-4">
        <div class="flex place-content-center">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/safety-trusted.svg">
          </div>
          <div class="w-36">
              <span>Safe & Trusted</span>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-12 justify-end gap-x-2">
      <div class="col-span-7 mt-4 ml-6">
        <div class="flex place-content-center">
          <div>
            <img class="max-w-none w-6" src="../assets/images/about-fd/wide-assortment.svg">
          </div>
          <div class="w-48 ml-1">
              <span>More Product Choices</span>
          </div>
        </div>
      </div>
      <div class="col-span-5 mt-4">
        <div class="flex place-content-center">
          <div class="flex flex-row space-x-2">
            <div>
              <img class="max-w-none w-6" src="../assets/images/about-fd/exclusive-offers.svg">
            </div>
            <div class="w-48">
                <span>Exclusive Offers</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="w-96" />
  <div class="md:mt-12 mt-12 h-full">
    <div class="flex__footer flex justify-center place-content-center md:mt-10 md:mb-10">
      <ul>
        <h3 class="font-semibold">Get to Know Us</h3>
        <li><a href="#">About FD Studio</a></li>
        <li><a href="#">Inspire Me</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <ul>
        <h3 class="font-semibold">Help</h3>
        <li><a href="#">Help Center</a></li>
        <li><a href="#">Return & Refund</a></li>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Payment Method</a></li>
      </ul>
      <ul class="mt-12">
        <h3 class="font-semibold">Buying Guide</h3>
        <li><a href="#">How to Shop</a></li>
        <li><a href="#">Safe Shopping Guarantee</a></li>
        <li><a href="#">Promotions</a></li>
        <li><a href="#">How to Pay</a></li>
      </ul>
      <ul class="mt-12">
        <h3 class="font-semibold">FD Studio Seller</h3>
        <li><a href="#">Sell on FD Studio</a></li>
        <li><a href="#">Seller Education Center</a></li>
        <li><a href="#">Register as Official Store</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
      <ul class="mt-12 mb-6 ml-2">
        <h3 class="font-semibold">Download Our App</h3>
        <div class="container-footer gap-4 -mt-5">
          <img src="../assets/images/about-fd/appstore.svg" />
          <img src="../assets/images/about-fd/playstore.svg" />
        </div>
        <h3 class="font-semibold">Follow Us</h3>
        <div class="flex mt-5">
          <img
            class="icon-social-media max-w-none ring-0 w-14"
            src="../assets/images/about-fd/instagram.svg"
          />
          <img
            class="icon-social-media max-w-none ring-0 w-14"
            src="../assets/images/about-fd/twitter.svg"
          />
          <img
            class="icon-social-media max-w-none ring-0 w-14"
            src="../assets/images/about-fd/fb.svg"
          />
          <img
            class="icon-social-media max-w-none ring-0 w-14"
            src="../assets/images/about-fd/youtube.svg"
          />
        </div>
      </ul>
    </div>
  </div>
  <div class="container__copyright">
    <span id="footer-copyright-mobile" class="mb-6"></span>
  </div>
</footer>

<script>
const footerCopyright = document.getElementById('footer-copyright')
const footerCopyrightMobile = document.getElementById('footer-copyright-mobile')
const date = new Date()
footerCopyright.innerHTML = `FD Studio ${date.getFullYear()} | Indonesia's No.1 Beauty Destination`
footerCopyrightMobile.innerHTML = `FD Studio ${date.getFullYear()} | Indonesia's No.1 Beauty Destination`

if(subQuestionParam) {
  if(document.querySelector('.footer__desktop') !== null) document.querySelector('.footer__desktop').style.marginTop = '35rem'
} else {
  if(document.querySelector('.footer__desktop') !== null) document.querySelector('.footer__desktop').style.marginTop = '2rem'
}
</script>
