<img class="logo" src="../assets/images/FD Studio.svg" />

<div class="grid-cols-2 w-96 gap-4 place-content-start">
  <div class="mt-8 ml-8 h-10 border-0 border-l-2 border-black">
    <a class="font-semi-bold capitalize text-3xl ml-4" href="#">help center</a>
  </div>
</div>
<div class="flex__center gap-2 place-content-end md:-mr-72">
  <div class="mt-11">
    <img src="../assets/images/helpcenter/icon-header/IND.svg" alt="" class="max-w-none">
  </div>
  <div class="mt-10">
    <a class="font-bold uppercase text-gray-400" href="#">ind</a>
  </div>
  <div class="mt-10">
    <span>|</span>
  </div>
  <div class="mt-11">
    <img src="../assets/images/helpcenter/icon-header/US.svg" alt="" class="max-w-none">
  </div>
  <div class="mt-10">
    <a class="font-bold uppercase" href="#">EN</a>
  </div>
</div>
